
:root {

  // ### Neutral

--DarkBlue--DarkModeElements-: hsl(209, 23%, 22%);
--VeryDarkBlue--DarkModeBackground-: hsl(207, 26%, 17%);
--VeryDarkBlue--LightModeText: hsl(200, 15%, 8%);
--DarkGray--LightModeInput: hsl(0, 0%, 52%);
--VeryLightGray--LightModeBackground: hsl(0, 0%, 98%);
--White--DarkModeText-LightModeElements: hsl(0, 0%, 100%);

 // ### Font

--ff-Baby: 'Babylonica', cursive;
--ff-Nunito: 'Nunito Sans', sans-serif;

 --fs-home : 0.875rem;
 --fs-details : 1rem;

 --fw-1 : 300;
 --fw-2 : 600;
 --fw-3 : 800;

 // ### Gap

 --gap-1 : 1rem;
 --gap-2 : 2rem;
 --gap-3 : 3rem;

}

body:has(#modeCheck:checked) {
  
  
}



body {
  font-family: var(--ff-Nunito);
  font-size: var(--fs-home);
  transition: 0.3s;

  background-color: white;

  header {

    .logoWrapper {
      padding: var(--gap-1);

      background-color: lightgray;

      h1{
        font-size: var(--fs-home);
        line-height: 0;
      }
  
      label[for="modeCheck"] {
        
        i{
  
        }
  
        .modeCheck {
          appearance: none;
        }
      }
    }

    .searchNav {
      gap: var(--gap-3);
      padding-inline: var(--gap-1);
      margin-block: var(--gap-2);

      .wrapper {
        padding-inline: var(--gap-1);

        border: 2px solid black;

        i {

        }

        .searchInp {
          border: none;
          padding: var(--gap-1);
          width: 100%;
        }
      }

      .select {
        align-self: flex-start;

        .selectBtn {
          gap: calc(var(--gap-3));
          background-color: transparent;
          border: 2px solid black;
          padding: 1rem;

        }

        .options {
          position: relative;

          ul {
            border: 2px solid black;
            position: absolute;
            width: 100%;
            margin-block-start: calc(1rem / 2);

            li {
              padding-inline: 1rem;
              padding-block: calc(1rem / 2);

              button {
                background-color: transparent;
                border: none;
              }
            }

            li:first-child {
              padding-block-start: 1rem;
            }

            li:last-child {
              padding-block-start: 1rem;
            }
          }
        }
      }
    }
  }

  main {
    padding-inline: 3rem;

    section.home {
      
      ul {

        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;

        li {
          flex-basis: calc( (1440px - (3rem * 2) - (4rem * 3)) / 4 );
          flex-grow: 1;
          box-shadow: 0 0 1px 0 black;

          figure {

            img {
              width: 100%;
            }
          }

          figcaption {
            padding-inline: 1rem;
            padding-block: 1rem 2rem;

            h2 {
              margin-block-end: 1rem;
            }

            p{
              font-weight: var(--fw-3);

              span {
                font-weight: var(--fw-1);
              }
            }
          }
        }
      }
    }
  }



  .flex {
    display: flex;

    &.btwn-cntr {
      justify-content: space-between;
      align-items: center;
    }

    &.strt-cntr {
      justify-content: flex-start;
      align-items: center;
    }

    &.clmn-1 {
      flex-direction: column;
    }

    &.clmn-2 {
      flex-direction: column;
    }
  }

  .danger {
    background-color: red;
    color: white;
    padding: 1rem;
    font-size: 2rem;
  }























    details.guide-links {
      position: fixed;
      bottom: 0;
      right: 0;
      padding: 1rem;
      background-color: rgb(253, 31, 253);
      cursor: pointer;
  
      nav {
        ul {
          li {
            a {
              color: white;
              transition: 0.2s;
  
              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }