
:root {

  // ### Neutral

--VeryDarkBlue--LightModeText: hsl(200, 15%, 8%);
--VeryLightGray--LightModeBackground: hsl(0, 0%, 98%);
--DarkGray--LightModeInput: hsl(0, 0%, 52%);

--White--DarkModeText-LightModeElements: hsl(0, 0%, 100%);
--VeryDarkBlue--DarkModeBackground-: hsl(207, 26%, 17%);
--DarkBlue--DarkModeElements-: hsl(209, 23%, 22%);

--bg-els : var(--VeryLightGray--LightModeBackground);

 // ### Font

--ff-Baby: 'Babylonica', cursive;
--ff-Nunito: 'Nunito Sans', sans-serif;

 --fs-home : 0.875rem;
 --fs-details : 1rem;

 --fw-1 : 300;
 --fw-2 : 600;
 --fw-3 : 800;

 // ### Gap

 --gap-1 : 1rem;
 --gap-2 : 2rem;
 --gap-3 : 3rem;
 --gap-4 : 4rem;

 // ### Radius

 --radius-1 : .4375rem;

 // ### Box Shadow

 --shadow-1 : 0 0 10px -6px var(--VeryDarkBlue--LightModeText);
 --focusedShadow-1 : 0 0 10px 0px var(--VeryDarkBlue--LightModeText);

 // ### Flag Box

 --maxWidth : calc( (1440px - (var(--gap-3) * 2) - (var(--gap-4) * 3)) / 4 );
}

body:has(#modeCheck:checked) {
--VeryDarkBlue--LightModeText: var(--White--DarkModeText-LightModeElements);
--VeryLightGray--LightModeBackground: var(--VeryDarkBlue--DarkModeBackground-);
--DarkGray--LightModeInput: var(--White--DarkModeText-LightModeElements);
--bg-els : var(--DarkBlue--DarkModeElements-);
--focusedShadow-1 : 0 0 10px 0px var(--VeryDarkBlue--LightModeText);
}

body {
  *{
    transition: 0.3s;
  }

  *:not(.logoWrapper,figcaption){
    border-radius: var(--radius-1);
  }

  font-family: var(--ff-Nunito);
  font-size: var(--fs-home);

  color: var(--VeryDarkBlue--LightModeText);
  background-color: var(--VeryLightGray--LightModeBackground);
  // padding-block-end: var(--gap-4);

  header {

    .logoWrapper {
      padding: var(--gap-1);
      box-shadow: var(--shadow-1);
      background-color: var(--bg-els);
      h1{
        font-size: max(var(--fs-home),1.5vw);
        line-height: 0;
      }
  
      label[for="modeCheck"] {
        font-weight: var(--fw-2);
        padding: var(--gap-1);
        cursor: pointer;

        .modeCheck {
          appearance: none;
        }

        i {
          pointer-events: none;
        }
      }
    }

    .searchNav {
      gap: var(--gap-3);
      padding-inline: var(--gap-1);
      margin-block-start: var(--gap-2);
      transition: 0.1s;

      &.hidden {
        transform: translateX(50%);
        opacity: 0;
        visibility: hidden;
        height: 0;
        position: absolute;
      }

      .wrapper {
        // padding-inline: var(--gap-1) 0;
        box-shadow: var(--shadow-1);
        flex-grow: 1;
        background-color: var(--bg-els);
        cursor: pointer;

        .searchInp {
          background-color: transparent;
          border: none;
          padding: var(--gap-1);
          padding-inline: unset;
          width: 100%;
          color: var(--DarkGray--LightModeInput);
          font-weight: var(--fw-2);
          cursor: pointer;

          &::placeholder {
            color: var(--DarkGray--LightModeInput);
            font-weight: var(--fw-1);
          }

          &:focus {
            outline: none;
          }
        }

        datalist {
          position: absolute;
          top: 0;
        }

        i {
          padding-inline: var(--gap-1);
        }
      }

      .select {
        align-self: flex-start;

        .selectBtn {
          gap: calc(var(--gap-3));
          background-color: var(--bg-els);
          padding: var(--gap-1);
          border: none;
          box-shadow: var(--shadow-1);
          color: var(--VeryDarkBlue--LightModeText);


          &:focus-visible {
            outline: none;
          }

          i {
            transition: 0.3s;

            &.open {
              transform: rotateX(180deg);
            }
          }
        }

        .options {
          position: relative;


          ul {
            position: absolute;
            width: 100%;
            margin-block-start: calc(var(--gap-1) / 2);
            box-shadow: var(--shadow-1);
            background-color: var(--bg-els);

            transform: translateY(-25%);
            opacity: 0;
            z-index: -1;
            visibility: hidden;

            &.visible {
              transform: translateY(0%);
              opacity: 1;
              z-index: 1;
              visibility: visible;
            }

            li {
              padding-inline: var(--gap-1);
              padding-block: calc(var(--gap-1) / 2.6);
              
              button {
                background-color: transparent;
                border: none;
                width: 100%;
                color: var(--VeryDarkBlue--LightModeText);

                &:focus-visible {
                  outline: none;
                }
              }
            }

            li:first-child {
              padding-block-start: calc(var(--gap-1) / 1.3);
            }

            li:last-child {
              padding-block-end: calc(var(--gap-1) / 1.3);
            }
          }
        }
      }
    }
  }

  main {
    padding-inline: var(--gap-3);
    padding-block:var(--gap-2) var(--gap-1);
    overflow: hidden;

    section.home {
      transition: 0.3s;

      &.hidden {
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        height: 0;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc( var(--maxWidth) ), 1fr)) ;
        gap: var(--gap-3);

        li {
          box-shadow: var(--shadow-1);
          background-color: var(--bg-els);
          cursor: pointer;

          &:hover,
          &.hover {
            transform: scale(1.2);
            box-shadow: var(--focusedShadow-1);
          }

          figure {
            pointer-events: none;
            img {
              width: 100%;
              pointer-events: none;
            }
          }

          figcaption {
            padding-inline: var(--gap-2);
            padding-block-end: var(--gap-2);
            pointer-events: none;

            h2 {
              line-height: 1;
              padding-block: var(--gap-2) var(--gap-1);
              font-size: max(calc(var(--fs-home)) * 1.3,1vw);
              width: fit-content;
            }

            p{
              font-weight: var(--fw-2);

              span {
                font-weight: var(--fw-1);
              }
            }
          }

          button {
            position: absolute;
            border: none;
            outline: none;
          }
        }
      }
    }

    section.details {
      font-size: var(--fs-details);

      opacity: 0;
      visibility: hidden;
      transform: translateY(50%); /* Start offscreen */
      height: 0;

      &.visible {
        padding-block-start: var(--gap-4);
        opacity: 1;
        visibility: visible;
        transform: translateY(0); /* Bring it onscreen */
        height: auto;
      }


      button {
        border: none;
        outline: none;
        background-color: var(--bg-els);
        color: var(--VeryDarkBlue--LightModeText);
        box-shadow: var(--shadow-1);
      }

      .backBtn {
        padding: calc(var(--gap-1) / 3) calc(var(--gap-2));
        box-shadow: var(--shadow-1);
        font-weight: var(--fw-2);
      }

      figure {
        margin-block-start: var(--gap-4);

        img {
          border-radius: 0;
          width: 100%;
          max-width: 637px;
        }

        figcaption {
          padding-block-start: var(--gap-3);

          display: grid;
          row-gap: var(--gap-2);

          h2 {
 
          }

          .wrapper.clmn-1 {
            justify-content: flex-start; //?
              gap: min(calc(var(--gap-4) * 3.4), 15vw);

            .wrapper {
              gap: calc( var(--gap-1) / 2 );

              p{
                font-weight: var(--fw-3);
                width: fit-content;

                span {
                  font-weight: var(--fw-1);
                }
              }
            }
          }

          .btnsWrapper {
            display: flex;
            flex-direction: column;
            gap: var(--gap-1);

            h3{
              min-width: max-content;

            }

            .borderCountryBtns {
              gap: var(--gap-1);
              flex-wrap: wrap;

              button {
                padding: calc(var(--gap-1) / 3) calc(var(--gap-1) * 1.5);
                box-shadow: var(--shadow-1);
                font-weight: var(--fw-2);
              }
            } 
          }
        }
      }
    }
  }
}

  //todo :  FLEX UTILS  ////////////////
  .flex {
    display: flex;

    &.btwn-cntr {
      justify-content: space-between;
      align-items: center;
    }

    &.strt-cntr {
      justify-content: flex-start;
      align-items: center;
    }

    &.clmn-1 {
      flex-direction: column;
    }

    &.clmn-2 {
      flex-direction: column;
    }
  }
  //todo :  ///////////////////////////////

  //todo :  STATE UTILS  ////////////////

  label[for="modeCheck"],
  .searchNav .wrapper,
  .selectBtn,
  .options ul,
  .options li,
  .backBtn,
  .borderCountryBtns button,
  .home li {
  &.focus,
  &:hover {
    box-shadow: var(--focusedShadow-1) !important;
    cursor: pointer;
  }

  &.active {
    box-shadow: var(--shadow-1) !important;
    transform: scale(0.9) !important;
  }
  }
  //todo :  ///////////////////////////////

  .danger {
    background-color: red;
    color: white;
    padding: var(--gap-1);
    font-size: calc(var(--fs-details) );
    font-weight: var(--fw-3);
  }

  details.guide-links {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    background-color: rgb(253, 31, 253);
    cursor: pointer;

    nav {
      ul {
        li {
          a {
            color: white;
            transition: 0.2s;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }