
@media (min-width:750px) {

  body {

    header {

      .logoWrapper {
        padding-inline: var(--gap-3); //?
      }
  
      .searchNav {
        padding-inline: var(--gap-3); //?

        .wrapper {
          max-width: calc( (var(--maxWidth) * 1.5) + var(--gap-4) );
        }
      }
    }

    main {
  
      section.home {
        
        ul {
          gap: var(--gap-4); //?
        }
      }

      .btnsWrapper {
        flex-direction: row !important;
      }

      @media ( min-width:1440px) {

        section.details {

          figure {  
            display: flex; //?
            gap: calc(var(--gap-4) * 2); //?

          }
        }
      }
    }

    .flex {
    
        &.clmn-1 {
          flex-direction: row; //?
          justify-content: space-between; //?
          align-items: flex-start; //?
        }
      }
  }
}